<header>
    <nav>
        <div class="leftalligned">
            <img src="/res/img/logo.png" alt="Logo">
            <a href="/">Read posts</a>
            <a href="/addnewpost">Add post</a>
        </div>
    </nav>
</header>