<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/res/css/newpost.css">
    <title>New post</title>
</head>

<body>
    <%- include partials/header %>
    <section class="content-container">
        TODO
    </section>
    <%- include partials/footer %>
</body>

</html>