<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="res/css/posts.css">
    <title>Posts</title>
</head>

<body>
    <div class="posts-page-container">
        <section id="posts" class="content-container">
            <% posts.forEach(post => { %>
                <%- include('partials/post.ejs', { post }) %>
            <% }) %>
        </section>
    </div>
</body>

</html>