<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/res/css/posts.css">
    <script src="/res/js/post_client.js"></script>
    <title>Posts</title>
</head>

<body>
    <%- include partials/header %>
    <section class="content-container">
        <% posts.forEach(post => { %>
            <%- include('partials/post.ejs', { post, link: true }) %>
        <% }) %>
    </section>
    <%- include partials/footer %>
</body>

</html>